.content {
    height: 20vh;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
}